/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

img {
  border-radius: 50%;
  width: 90px;
}

.name{
  height: 70px;
  padding-top: 10px;
}

.header {
  width: 450px;
  float: left;
}

.avatar {
  float: left;
  margin-right: 2%;
}

.status {
  float: right;
}

.clear {
  clear: both;
}

.withLove {
  padding-left: 15px;
}

.person-item {
  background-color: #FFFFFF;
  padding: 8px 16px;
  border: 0.5px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.person-item {
  font-weight: bold;
  cursor: pointer;
}

.app-content {
  background-color: #FFFFFF;
}

.separator {
  width: 100%;
  border-bottom: solid 1px;
    height: 1px;
  margin: 12px 0;
  display: block;
    position: relative;
    top: -3px;
    border-color: #dce0e0;
}

h3 {
  color: #929599;
}

#addEmployee input:not([type=radio]), #editEmployeeForm input:not([type=radio]), form p {
  width: 75%;
  margin-right: 16px;
  margin-left: auto;
  display: inline-block;
  float: right;
}

#addEmployee input[type=radio], #editEmployeeForm input[type=radio] {
  margin-left: 25%;
}

#addEmployee label, #addEmployee h3, #addEmployee button,
#editEmployeeForm label, #editEmployeeForm h3, #editEmployeeForm button {
  margin-left: 16px;
}

#addEmployee h3, #editEmployeeForm h3 {
  margin-top: 16px;
}

a.item-list {
  color: black !important;
  text-decoration: none !important;
}

/*
  -- Hack to beatu the input file
*/

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

