<div content-for="title">
    <span>About</span>
</div>


<div class="scrollable">
    <div class="scrollable-content section">

        <div bs-panel title="Contact">

            <label class="col-xs-3 col-sm-2 "> <i class="fa fa-envelope"></i> </label> <p>info@konacloud.io</p>
            <label class="col-xs-3 col-sm-2 "> <i class="fa fa-map-marker"></i>  </label> <p>Sinergia CoWork, Montevideo</p>

            <div class="withLove"> Build with <i class="fa fa-heart"></i> By <a href="http://konacloud.io"> KONA Cloud </div>

        </div>

    </div>
</div>
